body {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    background-image: url("../images/user_info.avif");
    background-size: cover;
    font-family: "Roboto", sans-serif;
}

#common {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#common h2 {
    font-weight: 300;
}

#user_info {
    width: 30%;
    background: linear-gradient(to right, rgba(185, 136, 106, 0.48), rgba(219, 232, 241, 0.23));
    background-size: cover;
    padding: 2vw 3vw 2vw 3vw;
    font-size: larger;
    border-left: solid 5px rgba(185, 136, 106);
}

.obj {
    margin-bottom: 3vh;
}

#show_user_posts {
    width: 90%;
    height: 8vh;
    border: none;
    background: linear-gradient(to right, rgba(255, 255, 255, 0.20), rgba(213, 189, 167, 0.18));
    margin-top: 1vw;
    font-weight: bold;
    font-size: larger;
}

#user_posts {
    width: 90%;
    height: 40vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.post_title {
    width: 18%;
    height: 10vh;
    background: linear-gradient(to right, rgba(185, 136, 106), rgba(191, 146, 117, 0.55) 90%);
    display: flex;
    align-items: center;
    padding-left: 3px;
}